@tailwind base;
@tailwind components;

/* // font imports */
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&display=swap");

/* // external */
@import url("./external/prism");

/* // apply */
@import url("./apply/alert.css");
@import url("./apply/_badge.css");
@import url("./apply/_button.css");
@import url("./apply/_card.css");
@import url("./apply/_code.css");
@import url("./apply/_typography.css");

@layer components {
    .report-card .card:hover {
        @apply border-white shadow-lg;
        transform: scale(1.01);
    }
    .report-card .footer:hover {
        @apply p-0 border-0;
    }
    .report-card .footer,
    .report-card .card {
        @apply transition-all duration-300 ease-in-out;
    }
    .toggle-checkbox:checked {
        @apply: right-0 border-green-400;
        right: 0;
        border-color: #68d391;
    }
    .toggle-checkbox:checked + .toggle-label {
        @apply: bg-green-400;
        background-color: #68d391;
    }
    .slider {
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 1rem;
        width: 1rem;
        left: 3px;
        bottom: 2px;
        background-color: hsl(0deg 0% 100%);
        transition: 0.2s;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    input:checked + .slider {
        background-color: #21ed9c;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
    }
    .slider.round:before {
        border-radius: 50%;
    }
    .book-image {
        @apply relative;
    }
    .book-image-overflow {
        @apply absolute top-0 flex flex-col items-center justify-center w-full h-full space-y-3 bg-opacity-50 bg-gradient-to-b from-sky-100/50 to-teal-500/50;
        padding: 20px;
        transition: 0.3s;
        transform: translateY(100%);
    }
    .book-image:hover .book-image-overflow {
        transform: translateY(0px);
    }
}
@tailwind utilities;
